<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<!--<table>-->
<!--     <tr>-->
<!--        <td><img src="{{item.course_image.url}"></td>-->
<!--    </tr>-->
<!--    </table>-->
    <table class="table table-dark table-striped">
    <tr>
        <td>batch_code</td><td>{{item.batch_code}}</td>
    </tr>
    <tr>
        <td>course</td><td>{{item.course}}</td>
    </tr>
    <tr>
        <td>starting_date</td><td>{{item.starting_date}}</td>
    </tr>
    <tr>
        <td>course_fees</td><td>{{item.course_fees}}</td>
    </tr>
     <tr>
        <td>batch_status</td><td>{{item.batch_status}}</td>
    </tr>
</table>
</body>
</html>