<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark table-striped">
    <tr>
        <td>admission_no</td>
         <td>enquiry_id</td>
         <td>coursefees</td>
         <td>batch_code</td>
         <td>date</td>
        <td>registration_status</td>
    </tr>
    {%for course in obj%}
    <tr>
        <td>{{course.admission_no}}</td>
        <td>{{course.enquiry_id}}</td>
        <td>{{course.coursefees}}</td>
        <td>{{course.batch_code}}</td>
        <td>{{course.date}}</td>
        <td>{{course.registration_status}}</td>
        {%if course.registration_status == 'notregistered' %}
            <td><a href="{%url 'pay' course.admission_no%}" class="btn btn-outline-primary">Admit</a></td>
        {%else%}
            <td>Registered</td>
        {%endif%}
    </tr>
    {%endfor%}
</table>
</body>
</html>